# React frontend-specific ignores

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.nyc_output

# production build
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development
.env.test.local
.env.production

# local env files
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor & IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Yarn Integrity file
.yarn-integrity

# yarn v2+
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Debug files
*.log

# Temp directories
.tmp/